<?xml version="1.0" encoding="UTF-8"?>
<!--сейчас этот файл не учитывается, т.к. ApplicationContext создается с помощью аннотаций-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="applicationProperties" class="com.javarush.lesson01.config.ApplicationProperties">-->
<!--        <constructor-arg>-->
<!--            <value type="java.lang.String">application.properties</value>-->
<!--        </constructor-arg>-->
<!--    </bean>-->
<!--    <bean id="sessionCreator" class="com.javarush.lesson01.config.SessionCreator">-->
<!--        <constructor-arg name="applicationProperties" ref="applicationProperties"/>-->
<!--    </bean>-->
<!--    <bean id="userRepo" class="com.javarush.lesson01.repo.UserRepo">-->
<!--        <constructor-arg ref="sessionCreator"/>-->
<!--    </bean>-->
<!--    <bean id="userService" class="com.javarush.lesson01.service.UserService">-->
<!--        <constructor-arg ref="userRepo"/>-->
<!--        <constructor-arg>-->
<!--            <value type="java.lang.String">Alex</value>-->
<!--        </constructor-arg>-->
<!--    </bean>-->
</beans>